extends ../layout

block content
	h1.
		Project ID #{project._id}
	form(action='/projects/#{project._id}/member',method='post',name='addmember',enctype='application/x-www-form-urlencoded')
		p First name: 
			input#inputFirstName(type='text', placeholder='First name', name='firstName')
		p Last name: 
			input#inputLastName(type='text', placeholder='Last name', name='lastName')
		p
			button#btnSubmit(type='submit').
				Add member