extends ../layout

block content
	h1.
		Project ID #{project._id}
	form(action='/projects/#{project._id}/edit',method='post',name='updateproject',enctype='application/x-www-form-urlencoded')
		p Name:
			input#inputName(type='text', value='#{project.name}', name='name')
		p Description:
			input#inputDescription(type='text', value='#{project.description}', name='description')
		p Price:
			input#inputPrice(type="number" value='#{project.price}' name="price")
		p JobsDone: 
			input#inputJobsDone(type="text" value='#{project.jobsDone}' name="jobsDone")
		p StartDateTime: 
			input#inputStartDateTime(type="date" value='#{startDateTime}' name="startDateTime")
		p EndDateTime: 
			input#inputEndDateTime(type="date" value='#{endDateTime}' name="endDateTime")
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit').
				Update
