extends ../layout

block content
    h1.
         #{title}
    a(href='/projects/new') New
    table
        thead
            tr: th Name
                th Description
                th Price
                th Jobs done
                th Start date time
                th End date time
   
        tbody
            - each project, i in projects
                tr
                    td= project.name
                    td= project.description
                    td= project.price
                    td= project.jobsDone
                    td= project.startDateTime
                    td= project.endDateTime
                    td.controll
                        form(action='/projects/#{project._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                            input(type='hidden',value='DELETE',name='_method')
                            button(type='submit').
                                Delete
                    td.controll
                        a(href='/projects/#{project._id}/edit') Edit
                    td.controll
                        a(href='/projects/#{project._id}') Show
                    td.controll
                        a(href='/projects/#{project._id}/member') Add member
      