extends ../layout

block content
	h1.
		#{title}
	form#formAddProject(name="addProject" method="post" action="/projects")
		p Name: 
			input#inputName(type="text" placeholder="Name" name="name")
		p Description: 
			input#inputDescription(type="text" placeholder="Description" name="description")
		p Price:
			input#inputPrice(type="number" placeholder="Price" name="price")
		p JobsDone: 
			input#inputJobsDone(type="text" placeholder="Jobs done" name="jobsDone")
		p StartDateTime: 
			input#inputStartDateTime(type="date" name="startDateTime")
		p EndDateTime: 
			input#inputEndDateTime(type="date" name="endDateTime")
		p
			button#btnSubmit(type="submit") submit