extends ../layout

block content
    h1.
        ID #{project._id}
    p Name: #{project.name}
    p Description: #{project.description}
    p Price: #{project.price}
    p Jobs Done: #{project.jobsDone}
    p Start date time: #{startDateTime}
    p End date time: #{endDateTime}
    h1.
        Članovi #{project._id}
    table
        thead
            tr: th First name
                th Last name

        tbody
            - each projectMember, i in project.members
                tr
                    td= projectMember.firstName
                    td= projectMember.lastName